/*
 * Copyright (c) 2023 The ZMK Contributors
 * Copyright (c) 2026 Splitkb.com
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE_LNX  0
#define RAISE_LNX 1
#define LOWER_LNX 2
#define BASE_MOS  3
#define RAISE_MOS 4
#define LOWER_MOS 5

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <280>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
            // Right half (6-11, 18-23, 32-39) plus all thumb keys (40-49)
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <280>;
            quick-tap-ms = <0>;
            bindings = <&kp>, <&kp>;
            // Left half (0-5, 12-17, 24-31) plus all thumb keys (40-49)
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 30 31 40 41 42 43 44 45 46 47 48 49>;
            hold-trigger-on-release;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        base_linux_layer {
            display-name = "Linux Default";
// ---------------------------------------------------------------------------------------------------------------
// |  TAB  |   Q   |   W   |   F   |   P   |  B   |                                       |  J   |   L   |   U   |   Y   |   ;   |  '   |
// |  ESC  | LG(A) | LA(R) | LC(S) | LS(T) |  G   |                                       |  M   | RS(N) | RC(E) | LA(I) | RG(O) | BKSP |
// |  SHFT |   Z   |   X   |   C   |   D   |  V   |     [     | DEL |   | DEL |     ]     |  K   |   H   |   ,   |   .   |   /   | SHFT |
//                         |       |       | RALT | RAISE_LNX | ENT |   | SPC | LOWER_LNX | RALT |       |       |
            bindings = <
&kp TAB       &kp Q      &kp W      &kp F       &kp P        &kp B                                                        &kp J    &kp L        &kp U       &kp Y      &kp SEMI   &mt RCTRL SQT
&kp ESC       &hml LGUI A &hml LALT R &hml LCTRL S &hml LSHIFT T &kp G                                                        &kp M    &hmr RSHIFT N &hmr RCTRL E &hmr LALT I &hmr RGUI O &kp BSPC
&kp LSHFT     &kp Z      &kp X      &kp C       &kp D        &kp V    &kp LBKT      &kp DEL       &kp DEL   &kp RBKT      &kp K    &kp H        &kp COMMA   &kp DOT    &kp FSLH   &kp RSHFT
                                    &none       &none        &kp RALT &mo RAISE_LNX &kp RET       &kp SPACE &mo LOWER_LNX &kp RALT &none        &none
// Encoder press buttons
&kp K_MUTE &none &none &none &none                                                                                                                        &none &none &none &none &none

            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };


        raise_linux_layer {
            display-name = "Linux Raise";
// ------------------------------------------------------------------------------------------------------------
// | F1 | F2 | F3 | F4 |  F5   |  F6   |                            |  6   |   7   |   8  |  9   | 0 | \ |
// |    |    | +  | =  |   _   |   -   |                            |      |       |      |      |   |   |
// |    |    |    |    | PG_DN | PG_UP |   |   |          |     |   | PREV | PAUSE | PLAY | NEXT |   |   |
//                |    |       |       |   |   |          | DEL |   |      |       |      |
            bindings = <
&kp F1 &kp F2 &kp F3   &kp F4    &kp F5    &kp F6                                       &kp N6     &kp N7      &kp N8           &kp N9     &kp N0 &kp BSLH
&none  &none  &kp PLUS &kp EQUAL &kp UNDER &kp MINUS                                    &none      &none       &none            &none      &none  &none
&none  &none  &none    &none     &kp PG_DN &kp PG_UP &none  &none         &none   &none &kp K_PREV &kp C_PAUSE &kp K_PLAY_PAUSE &kp K_NEXT &none  &none
                       &none     &none     &none     &trans &none         &kp DEL &none &none      &none       &none

&trans &trans &trans &trans &trans                                                                                    &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_linux_layer {
            display-name = "Linux Lower";
// -----------------------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3  |  4  |  5  |                                   |  F7  |  F8  |  F9  |  F10  | F11 | F12 |
// |     |     |     |  {  |  }  |  (  |                                   | LEFT | DOWN |  UP  | RIGHT |     |     |
// |     |     |     |  [  |  ]  |  )  |      | BASE_MOS |         |   |   |      |      |      |       |     |     |
//                   |     |     |     | HOME | END      |         |   |   |      |      |      |
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                                         &kp F7   &kp F8    &kp F9  &kp F10   &kp F11  &kp F12
&none     &none  &none  &kp LBRC &kp RBRC &kp LPAR                                       &kp LEFT &kp DOWN  &kp UP  &kp RIGHT &none    &none
&none     &none  &none  &kp LBKT &kp RBKT &kp RPAR &none    &tog BASE_MOS         &none  &none  &none    &none     &none   &none     &none    &none
                        &none    &none    &none    &kp HOME &kp  END              &none  &trans &none    &none     &none

&trans &trans &trans &trans &trans                                                                         &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        base_macos_layer {
            display-name = "MacOS Default";
// ---------------------------------------------------------------------------------------------------------------
// |  TAB  |   Q   |   W   |   F   |   P   |  B   |                                       |  J   |   L   |   U   |   Y   |   ;   |  '   |
// |  ESC  | LC(A) | LA(R) | LG(S) | LS(T) |  G   |                                       |  M   | RS(N) | RG(E) | LA(I) | RC(O) | BKSP |
// |  SHFT |   Z   |   X   |   C   |   D   |  V   |     [     | DEL |   | DEL |     ]     |  K   |   H   |   ,   |   .   |   /   | SHFT |
//                         |       |       | RALT | RAISE_MOS | ENT |   | SPC | LOWER_MOS | RALT |       |       |
            bindings = <
&kp TAB       &kp Q      &kp W      &kp F       &kp P        &kp B                                                        &kp J    &kp L        &kp U       &kp Y      &kp SEMI   &mt RCTRL SQT
&kp ESC       &hml LCTRL A &hml LALT R &hml LGUI S &hml LSHIFT T &kp G                                                    &kp M    &hmr RSHIFT N &hmr RGUI E &hmr LALT I &hmr RCTRL O &kp BSPC
&kp LSHFT     &kp Z      &kp X      &kp C       &kp D        &kp V    &kp LBKT      &kp DEL       &kp DEL   &kp RBKT      &kp K    &kp H        &kp COMMA   &kp DOT    &kp FSLH   &kp RSHFT
                                    &none       &none        &kp RALT &mo RAISE_MOS &kp RET       &kp SPACE &mo LOWER_MOS &kp RALT &none        &none
// Encoder press buttons
&kp K_MUTE &none &none &none &none                                                                                                                        &none &none &none &none &none

            >;
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };


        raise_macos_layer {
            display-name = "MacOS Raise";
// ------------------------------------------------------------------------------------------------------------
// | F1 | F2 | F3 | F4 |  F5   |  F6   |                            |  6   |   7   |   8  |  9   | 0 | \ |
// |    |    | +  | =  |   _   |   -   |                            |      |       |      |      |   |   |
// |    |    |    |    | PG_DN | PG_UP |   |   |          |     |   | PREV | PAUSE | PLAY | NEXT |   |   |
//                |    |       |       |   |   |          | DEL |   |      |       |      |
            bindings = <
&kp F1 &kp F2 &kp F3   &kp F4    &kp F5    &kp F6                                       &kp N6     &kp N7      &kp N8           &kp N9     &kp N0 &kp BSLH
&none  &none  &kp PLUS &kp EQUAL &kp UNDER &kp MINUS                                    &none      &none       &none            &none      &none  &none
&none  &none  &none    &none     &kp PG_DN &kp PG_UP &none  &none         &none   &none &kp K_PREV &kp C_PAUSE &kp K_PLAY_PAUSE &kp K_NEXT &none  &none
                       &none     &none     &none     &trans &none         &kp DEL &none &none      &none       &none

&trans &trans &trans &trans &trans                                                                                    &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_macos_layer {
            display-name = "MacOS Lower";
// -----------------------------------------------------------------------------------------------------
// |  `  |  1  |  2  |  3  |  4  |  5  |                              |  F7  |  F8  |  F9  |  F10  | F11 | F12 |
// |     |     |     |  {  |  }  |  (  |                              | LEFT | DOWN |  UP  | RIGHT |     |     |
// |     |     |     |  [  |  ]  |  )  |          | BASE_MOS  |         |   |   |      |      |      |       |     |     |
//                   |     |     |     | LG(LEFT) | LG(RIGHT) |         |   |   |      |      |      |
            bindings = <
&kp GRAVE &kp N1 &kp N2 &kp N3   &kp N4   &kp N5                                                          &kp F7   &kp F8    &kp F9  &kp F10   &kp F11  &kp F12
&none     &none  &none  &kp LBRC &kp RBRC &kp LPAR                                                        &kp LEFT &kp DOWN  &kp UP  &kp RIGHT &none    &none
&none     &none  &none  &kp LBKT &kp RBKT &kp RPAR &none        &tog BASE_MOS               &none  &none  &none    &none     &none   &none     &none    &none
                        &none    &none    &none    &kp LG(LEFT) &kp LG(RIGHT)               &none  &trans &none    &none     &none

&trans &trans &trans &trans &trans                                                                         &trans &trans &trans &trans &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
